.first-page {
    display: flex;
    overflow: hidden;
}

.first-page input[type=email] {
    font: 15px 'Montserrat', sans-serif;
    padding-left: 3rem;
}

.first-page input[type=tel] {
    font: 15px 'Montserrat', sans-serif;
    padding-left: 3rem;
}

.first-page .left-side input:placeholder-shown {
    font: 15px 'Montserrat', sans-serif;
    font-style: italic;
    padding-left: 3rem;
}

.first-page .phone {
    margin-top: 3.5rem;
}

.first-page .nav .first-circle {
    opacity: 1;
}