.third-page {
    display: none;
}

.third-page .right-side h2 {
    left: 14%;
}

.third-page .form-control-inline {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.third-page .input-control {
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-top: -1rem;
}

.third-page-question {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 4rem;

}

.third-page label {
    font: 15px 'Montserrat', sans-serif;
    margin: 0;
    margin-left: 0.5rem;
}

.third-page .form-control-inline input {
    margin: 0;
    padding: 0;
}

.third-page input[type=radio] {
    width: 1rem;
    box-shadow: none;
}

.third-page #second-radio {
    margin-top: 5rem;
}

.third-page input {
    font: 15px 'Montserrat', sans-serif;
    font-style: italic;
    padding-right: 9rem !important;
    background: #FFFFFF url(../icons/calendar-icon.png);
    background-size: 1.5rem;
    background-repeat: no-repeat;
    background-position: 96%;
    cursor: pointer;
}

.third-page input[type=date] {
    font: 15px 'Montserrat', sans-serif;
    font-style: italic;
    padding-left: 3rem !important;
    padding-right: 1rem !important;
    background: none !important;
}

.third-page .when {
    display: none;
}

.third-page .valid-date {
    display: none;
}

/*
.third-page input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    appearance: none;
    cursor: pointer;
    position: relative;
    height: inherit;
    left: 42%;
    width: 2rem;
}

.third-page input[type="date"]:before {
    content: attr(placeholder) !important;
    margin: 0 1.5rem;
    color: #525557;
}
*/


.third-page .nav .first-circle {
    opacity: 1;
}

.third-page .nav .second-circle {
    opacity: 1;
}

.third-page .nav .third-circle {
    opacity: 1;
}