.first-page {
    display: none;
}

.first-page input[type=email] {
    font: 20px 'Montserrat', sans-serif;
    padding-left: 2rem;
}
.first-page input[type=tel] {
    font: 20px 'Montserrat', sans-serif;
    padding-left: 2rem;
}

.first-page .phone {
    margin-top: 3.5rem;
}

.first-page .nav .first-circle {
    opacity: 1;
}
