@font-face {
    font-family: 'Rowdies';
    src: url(../fonts/Rowdies-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Rowdies';
    src: url(../fonts/Rowdies-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.ttf) format('truetype');
    font-weight: Bold;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.selected-page-right-animation {
    position: fixed;
    top: 0;
    right: 0%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    transition: 0.5s ease-out;
}

.selected-page-right-animation-is-active {
    right: -100%;
}

.selected-page-left-animation {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    transition: 0.5s ease-out;
}

.selected-page-left-animation-is-active {
    left: -100%;
}

.right-animation {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    transition: 0.5s ease-out;
}

.right-is-active {
    left: 0px;
}

.left-animation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    bottom: 0;
    z-index: 101;
    transition: 0.5s ease-out;
}

.left-is-active {
    right: 0px;
}

.pages {
    min-height: 100vh;
    width: 100%;
}

.left-side {
    width: 50%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0
}

.left-side header {
    font-family: 'Rowdies', sans-serif;
    display: flex;
    align-items: center;
}

.left-side h1 {
    text-align: center;
    margin: 6rem auto 4rem auto;
    color: #FE3B1F;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 79px;
    width: 80%;
}

.left-side form {
    width: 35rem;
    margin: auto auto 0 auto;
    padding: 1rem;
}

.left-side ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-side li {
    text-align: center;
    margin: 0 auto;
    border-color: #0C0D0E;
}

.left-side input, select, textarea {
    font: 15px 'Montserrat', sans-serif;
    padding: 0.5rem;
    margin: 3rem 0;
    border: 1px solid #525557;
    width: 100%;
    height: 4rem;
    display: block;
    box-sizing: border-box;

}

.left-side input:focus, select:focus, textarea:focus {
    outline: none !important;
    border-color: #7a7f85;
    box-shadow: 0 0 6px #8d8f91;
}

.left-side input[type=text] {
    font: 15px 'Montserrat', sans-serif;
    padding-left: 3rem;
}

.left-side input:placeholder-shown {
    font: 15px 'Montserrat', sans-serif;
    font-style: italic;
    padding-left: 3rem;
}

.left-side input:focus-visible {
    outline: none;
}

.left-side .error {
    border-color: #ac1533;
}

.left-side .validation-error {
    margin-top: -30px;
    font: 15px 'Montserrat', sans-serif;
    height: 13px;
    color: #ac1533;
    text-align: left;
    display: block;
    position: absolute;
}

.left-side .second-error {
    display: none;
}


.left-side .input-radio-error {
    margin-top: 0.5rem;
}

.left-side .add-border {
    border: 1px solid rgba(207, 37, 37, 0.3);
    border-style: none none solid none;
}

.left-side footer {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 5rem;
    margin-top: 6rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3rem 0 0 0;
}

.nav .left-container {
    display: flex;
    margin: auto;
    align-items: center;
    position: relative;
    left: 10%;
    right: 90%;
}

.nav li {
    padding: 0.1;
    cursor: pointer;
    margin: 0.5rem;
}

.nav .go-back, .go-next {
    display: flex;
    border: solid 3px #FE3B1F;
    background-color: #FFFFFF;
    opacity: 1;
    padding: 30% 55%;
    border-radius: 2rem;
    align-items: center;
    position: relative;
    bottom: 5%;
}

.nav .left-arrow-container {
    display: flex;
    margin: 0;
    position: relative;
    right: 100%;
}

.nav .arrow {
    border: solid #FE3B1F;
    border-width: 0px 3px 3px 0px;
    border-color: #FE3B1F;
    display: inline-block;
    padding: 2px;
    margin: 0;
    position: relative;
    right: 2px;
}

.nav .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.first-circle {
    margin-left: 0.5rem !important;
}

.nav .current-page {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0.4rem;
    border: solid #FE3B1F;
    border-radius: 40px;
    background-color: #FE3B1F;
    opacity: 0.1;
}

.nav .right-arrow-container {
    display: flex;
    position: relative;
    right: 2px;
}

.nav .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.fifth-circle {
    margin-right: 0rem !important;
}

.right-side {
    width: 50%;
    height: 100%;
    background: radial-gradient(50% 50% at 50% 50%, #0C0D0E 0%, #151718 73.44%) !important;
}

.right-side header {
    font-family: 'Rowdies', sans-serif;
    display: flex;
    align-items: center;
}

.right-side h2 {
    margin: 6rem 0;
    color: #FE3B1F;
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 79px;
    position: relative;
    left: 15%;
}

.right-side main {
    font-family: 'Montserrat', sans-serif;
    margin-top: 3rem;
}

.right-side .text-container {
    width: 80%;
    position: relative;
    left: 15%;
    text-align: left;
}

.right-side p {
    text-align: left;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 200%;
}